.container {
  width: 100%;
}

.service {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  font-style: italic;
  background-color: #f8f9fa;
  padding: 5%;
}

.service h5,
.sloganItem h4 {
  color: rgba(61, 60, 90, 255);
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.service p,
.sloganItem p {
  font-size: 1rem;
  margin: 0;
}

.slogan {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  padding: 5% 0;
}

.register input {
  padding: 1rem;
  font-size: 1rem;
}

.register button {
  font-size: 1rem;
  padding: 1rem;
  background-color: #383838;
  color: white;
  cursor: pointer;
}
